body {
    display: flex;
    flex-direction: row;
    background-color: #84C8CC;
    margin: 0px;
    overflow-x: hidden;
}
#sidemenu {
    display: flex;
    align-self: flex-start;
    align-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 330px;
    background-color: white;
    box-shadow: 4px 0px 10px black;
    margin: 0px;
    position: fixed;
    z-index: 1;
}

#spacer {
    display: flex;
    align-self: flex-start;
    align-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 330px;
    background-color: white;
    margin: 0px;
    z-index: 0;
}
#spacingtext {
    overflow-x: hidden;
}
#samlogo {
    max-height: 150px;
    margin: 0px;
}
#links{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
li {
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0px;
    font-family: "PT sans";
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 2px;
}
h3 {
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0px;
    font-family: "PT sans";
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 30px;
    margin: 0px;
}
#pagehead {
    display: flex;
    justify-content: center;
    height: 340px;
    width: 100%;
    background-color: none;
}
.arrows {
    max-width: 40px;
}
h1 {
    margin: 0px;
    font-family: "PT sans", sans-serif;
    font-size: 72px;
    color: white;
}
#content {
    margin-left: 10px;
    width: auto;
}
p {
    font-family: "PT sans caption";
    font-size: 18px;
    height: auto;
    padding-right: 10px;
}
.bodytext {
    width: 100%;
}
#textimg1 {
    max-width: 350px;
}
#sec1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
#sec2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
h2{
    margin: 0px;
    font-family: "PT sans", sans-serif;
    font-size: 48px;
    color: #C5F5FF;
}
ul {
    margin: 0px;
    padding: 0px;
}
#navbar {
    background-color: white;
    height: 100px;
    width: auto;
    z-index: 2;
    position: relative;
    top: -65px;
}
#headimg {
    z-index: 4;
    position: relative;
}
a {
    text-decoration: none;
}
